#version=RHEL8
# Use graphical install
graphical


repo --name="Minimal" --baseurl=file:///run/install/sources/mount-0000-cdrom/Minimal

%packages
@^minimal-environment
kexec-tools

%end

# Keyboard layouts
keyboard --xlayouts='fr (oss)'
# System language
lang fr_FR.UTF-8

# Network information
network  --bootproto=dhcp --device=enp1s0 --ipv6=auto --activate
network  --hostname=template

# Use CDROM installation media
cdrom

# Run the Setup Agent on first boot
firstboot --enable
reboot 

ignoredisk --only-use=vda
autopart
# Partition clearing information
clearpart --none --initlabel

# System timezone
timezone Europe/Paris --isUtc

# Root password
rootpw --iscrypted $6$N71CjzLjZv4sJwit$MSBZq1LfztOWhnwoYCK1MfAG5x3q9./et8Cg0SAIBiUZVwJHq8QpxLMVox5zJBBMRQqCMtqTI7gV8FowI0x4c.
sshkey --username=root "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIOUjxelbJVOTuahHuKQOVzluWqou6ukVMgCK43hF1nV0 root@template"


%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
